<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detroit Games | PS5</title>
  <link rel="stylesheet" href="../../public/css/ps5.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="../../public/images/LogoSemFundo.png" alt="Detroit Games Logo" onclick="window.location.href='index.html'"/>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar produtos" />
      <button><i class="fa fa-search"></i></button>
    </div>
    <div class="cart">
      <i class="fa fa-shopping-cart"></i>
    </div>
  </header>

  <nav class="navbar">
    <ul>
      <li><a href="#">Produtos</a></li>
      <li><a href="#">Vendas</a></li>
      <li><a href="#">Histórico de Vendas</a></li>
    </ul>
  </nav>

  <main class="products-section">
    <h1>Jogos PS5</h1>
    <div class="products-grid">
      <div class="product-card">
        <img src="../../public/images/ps5Images/SpiderMan2Game.jpg" alt="Spider-Man 2">
        <h3>Spider-Man 2</h3>
        <p>R$ 349,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/ps5Images/DemonsSoulsGame.jpg" alt="Demon’s Souls">
        <h3>Demon’s Souls</h3>
        <p>R$ 299,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/ps5Images/TheWitcher3Game.jpg" alt="Final Fantasy XVI">
        <h3>The Witcher 3</h3>
        <p>R$ 329,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/ps5Images/TheLastOfUsGame.jpg" alt="Ratchet & Clank">
        <h3>The Last Of Us Part I</h3>
        <p>R$ 289,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/ps5Images/TheLastOfUs2Game.jpg" alt="Horizon Forbidden West">
        <h3>The Last Of Us Part II</h3>
        <p>R$ 319,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/ps5Images/ResidentEvil4Game.jpg" alt="Resident Evil 4 Remake">
        <h3>Resident Evil 4 Remake</h3>
        <p>R$ 289,90</p>
      </div>
    </div>
  </main>
</body>
</html>
