<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detroit Games | Xbox</title>
  <link rel="stylesheet" href="../../public/css/xbox.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="../../public/images/LogoSemFundo.png" alt="Detroit Games Logo" onclick="window.location.href='index.html'"/>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar produtos" />
      <button><i class="fa fa-search"></i></button>
    </div>
    <div class="cart"><i class="fa fa-shopping-cart"></i></div>
  </header>

  <nav class="navbar">
    <ul>
      <li><a href="#">Produtos</a></li>
      <li><a href="#">Vendas</a></li>
      <li><a href="#">Histórico de Vendas</a></li>
    </ul>
  </nav>

  <main class="products-section">
    <h1>Jogos Xbox</h1>
    <div class="products-grid">
      <div class="product-card">
        <img src="../../public/images/xboxImages/HaloInfiniteGame.jpg" alt="Halo Infinite">
        <h3>Halo Infinite</h3>
        <p>R$ 279,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/xboxImages/ForzaHorizon5Game.jpg" alt="Forza Horizon 5">
        <h3>Forza Horizon 5</h3>
        <p>R$ 299,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/xboxImages/StarfieldGame.jpg" alt="Starfield">
        <h3>Starfield</h3>
        <p>R$ 349,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/xboxImages/Gears5Game.jpg" alt="Gears 5">
        <h3>Gears 5</h3>
        <p>R$ 239,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/xboxImages/Fc26Game.jpg" alt="FIFA 23">
        <h3>FC 26</h3>
        <p>R$ 269,90</p>
      </div>
      <div class="product-card">
        <img src="../../public/images/xboxImages/CyberpunkGame.jpg" alt="Cyberpunk 2077">
        <h3>Cyberpunk 2077</h3>
        <p>R$ 259,90</p>
      </div>
    </div>
  </main>
</body>
</html>
